---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<div class="flex flex-col items-center justify-center mt-32">
  <div class="flex flex-col">
    <nav
      class="flex justify-between py-4 bg-white/80 backdrop-blur-md shadow-md w-full fixed top-0 left-0 right-0 z-10"
    >
      <!-- Logo Container -->
      <a href="/" class="cursor-pointer mx-2">
        <div class="flex items-center">
          <!-- Logo -->
          <h3 class="text-2xl font-medium text-blue-500">
            <img
              class="h-20 object-cover mx-auto"
              src="logo.svg"
              alt="Store Logo"
            />
          </h3>
          <div>
            <h2 class="text-2xl">Ferme de la Garenne</h2>
            <h3 class="text-xl">Produits fermiers & biologique</h3>
          </div>
        </div>
      </a>

      <!-- Links Section -->
      <div class="items-center hidden space-x-8 lg:flex mx-16">
        <a
          href="/propos-de-nous"
          class="flex text-xl text-gray-900 hover:text-green-500 cursor-pointer transition-colors duration-300"
        >
          A propos de nous
        </a>
        <a
          href="/ou-nous-trouver"
          class="flex text-xl text-gray-900 hover:text-green-500 cursor-pointer transition-colors duration-300"
        >
          Où nous trouver
        </a>
        <a
          href="/magasin"
          class="underline decoration-green-500 decoration-2 underline-offset-4 flex text-xl text-gray-900 hover:text-green-500 cursor-pointer transition-colors duration-300"
        >
          <strong>Magasin</strong>
        </a>
        <a
          href="/panier"
          class="flex text-xl text-gray-900 hover:text-green-500 cursor-pointer transition-colors duration-300"
        >
          <svg
            class="fill-current h-6 w-6 hover:fill-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.00488 16V4H2.00488V2H5.00488C5.55717 2 6.00488 2.44772 6.00488 3V15H18.4433L20.4433 7H8.00488V5H21.7241C22.2764 5 22.7241 5.44772 22.7241 6C22.7241 6.08176 22.7141 6.16322 22.6942 6.24254L20.1942 16.2425C20.083 16.6877 19.683 17 19.2241 17H5.00488C4.4526 17 4.00488 16.5523 4.00488 16ZM6.00488 23C4.90031 23 4.00488 22.1046 4.00488 21C4.00488 19.8954 4.90031 19 6.00488 19C7.10945 19 8.00488 19.8954 8.00488 21C8.00488 22.1046 7.10945 23 6.00488 23ZM18.0049 23C16.9003 23 16.0049 22.1046 16.0049 21C16.0049 19.8954 16.9003 19 18.0049 19C19.1095 19 20.0049 19.8954 20.0049 21C20.0049 22.1046 19.1095 23 18.0049 23Z"
            >
            </path>
          </svg>
           Panier
        </a>
      </div>
    </nav>
  </div>
</div>
